<!DOCTYPE html>
<html lang="en">
<head>
     
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Heebo|Roboto" rel="stylesheet">
    <!--Import Google Icon Font-->
   
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href= "{{url_for('static', filename='css/style.css')}}" type="text/css" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script> 
    
    <title>Foodie</title>
</head>

<body>
      
  {% if session.user %}
  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="{{url_for('get_recipes')}}" class="brand-logo">
          <img src="../static/images/FaviconLogo.png"></img></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{url_for('profile')}}">Home</a></li>
            <li><a href="{{url_for('get_recipes')}}">All Recipes</a></li>
            <li><a href="{{url_for('search_recipes')}}">Search Recipes</a></li>
            <li><a href="{{url_for('add_recipe')}}">Add recipes</a></li>
            <li><a href="{{url_for('statistics')}}">Dashboard</a></li>
            <li><a href="{{url_for('logout')}}">Logout</a></li>
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="{{url_for('profile')}}">Home</a></li>
      <li><a href="{{url_for('get_recipes')}}">All Recipes</a></li>
      <li><a href="{{url_for('search_recipes')}}">Search Recipes</a></li>
      <li><a href="{{url_for('add_recipe')}}">Add recipes</a></li>
      <li><a href="{{url_for('statistics')}}">Dashboard</a></li>
      <li><a href="{{url_for('logout')}}">Logout</a></li>
    </ul>
  </header>
   {% endif %} 
   <!-- Flashed messages alerts modal -->

<div id="alerts" class="center-align container-fluid">
  <div class="row justify-content-around">
    <div id="messages">
      {% with messages = get_flashed_messages() %} 
        {% if messages %} 
          {% for message in messages %}
            <p class="text-center">{{ message }}</p>
          {% endfor %} 
        {% endif %} 
      {% endwith %}
    </div>
  </div>
</div>
<main>

    {% block content %}
    
    {% endblock %}
</main>
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='myjs.js') }}"></script>
    
    
    <script type="text/javascript">
        M.AutoInit();
        
        $(document).ready(function(){
          $('.sidenav').sidenav();
          $('.tooltipped').tooltip();
          $('.modal').modal();
          $('select').formSelect();
          // for HTML5 "required" attribute
          $("select[required]").css({
              display: "inline",
              height: 0,
              padding: 0,
              width: 0
            });
          });
    </script>
{% if session.user %}
  <footer class="page-footer">
        <div class="row">
            <div class="col s12 center-align">
              <span>© 2019 Copyright John Mellaley</span>
            </div>
        </div>
        <div class="row">
          <div class="col s12 center-align">
            <a class="grey-text text-lighten-4 center" target="_blank" href="https://www.linkedin.com/"><i class="social-links fab fa-linkedin"></i></a>
            <a class="grey-text text-lighten-4 center" target="_blank" href="https://twitter.com/?lang=en"><i class="social-links fab fa-twitter"></i></a>
            <a class= "grey-text text-lighten-4 center" target="_blank" href="https://www.instagram.com/?hl=en"><i class="social-links fab fa-instagram"></i></a>
            <a class= "grey-text text-lighten-4 center" target="_blank" href="https://www.facebook.com"><i class="social-links fab fa-facebook"></i></a>
          </div>
        </div>
  </footer
{% endif %}
</body>

</html>