{% extends 'base.html' %} {% block content %}
<div class="hero-image">
    <div class="hero-text">
        
        <h1 class="white-text">Foodie</h1>
        <h3 class ="white-text">Cook Book</h3>
        <a href="{{url_for('login')}}" class="btn-large white-text red lighten-3 login-btn"> Login</a>
        </br>
        <!-- Modal Register Trigger -->
        </br>
        <a class="blue-text waves-effect waves-light modal-trigger reg-link" href="#regModal">Register</a>
    </div>
</div>


<!-- Modal Structure -->
<div id="regModal" class="modal">
    <div class="modal-content">
        <h3>Register</h3>  
       <!-- method="POST" action="/register/" -->
        <form id="form-signin" >
            <div class="row">
                <div class="col s10 offset-s1">
                    <div class="input-field">
                        <label for="sign-in-username">User name*</label>
                        <input name="username" type="text" class="validate" id="username" required>
                    </div>
                    <div class="input-field">
                        <label for="sign-in-password">Password*</label>
                        <input class="validate" name="user_password" type="password" id="user_password" required>
                    </div>
                    <div class="input-field">
                        <label for="sign-in-password">Password again*</label>
                        <input class="validate" name="user_password1" type="password" id="user_password1" required>
                    </div>
                </div>
            </div>
            <div id="result_pass" class="center-align"></div></br>
        <div class="center-align">
            <div class="row">
                <div class="col s12">
                    <div class="col s6">
                        <button class="waves-effect waves-green btn">Register</button>
                    </div>
                    <div class="col s6">
                        <a class="btn modal-close">close</a>
                    </div>
                </div>
            </div>
        </div>
        
        </form>
        
    </div>
    
</div>


<!-- Modal Structure -->
<div id="loginModal" class="modal">
    <div class="modal-content">
        
        
    </div>
    
</div>
{% endblock %}
