{% extends 'base.html' %}
{% block content %}

<div class="container">
    
    <div class= "row">
        <div class="basic_detials col s12 m6">
            <h1 id="show_title">{{ recipe.dish_name }}</h1>
            <i class=" tiny material-icons">face</i><strong>Author:</strong> {{ recipe.user_name }}</br>
            <i class="fas fa-globe"></i> <strong>Origin: </strong> {{ recipe.origin}}</br>
            <i class="fas fa-pizza-slice"></i> <strong>Type:</strong> {{ recipe.type }}</br>
            <i class="far fa-clock"></i> <strong>Prep Time: </strong> {{ recipe.prep_time }}</br>
            <i class="far fa-clock"></i> <strong>Cooking Time: </strong> {{ recipe.cook_time }}</br>
            <i class=" tiny material-icons">people</i> <strong>Services: </strong> {{ recipe.serves }} </br>
            Allergens: 
                {% for recipe in recipe.allergens %}
                <div class="pink lighten-3 chip">
                    {{ recipe.allergen }} 
                </div>
                {% endfor %}
            <div class="wrap">
                <a id="likesButton" class="btn-floating btn-small waves-effect waves-light red pulse"><i class="material-icons">favorite_border</i></a>
                <span class="votes">{{ recipe.likes }}</span> 
            </div>
         </div>
         <div class="col s12 m6 center-align">
             <img class="recipe_image responsive-img" src="{{recipe.url_image}}">
        </div>
    </div> 
    <div class="divider"></div>
        <div class= "row">
            <div class="section col s12 m3">
                <h5>Ingredients</h5>
                {% for recipe in recipe.ingredients %}
                    {{ loop.index }}: {{ recipe.ingredient }} - {{ recipe.portion }}
                    </br>
                {% endfor %}
             </div>
             <div class="section col s12 m8 offset-m1">
                <h5>Steps</h5>
                {% for recipe in recipe.method %}
                    {{ loop.index }}: {{ recipe.step }}
                    </br></br>
                    
                {% endfor %}
             </div>
        </div>
    </div>
    {% if recipe.user_name  ==  session['user']  %}
    </br>
    
    <div class="container">
        <div class= "row">
            <span class="col s5 offset-s1">
                <a id="update_button" href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn red lighten-1 modal-trigger"><i class="material-icons left">update</i>Update</a>
            </span>
            <span class= "col s4 offset-s2 " >
                <a id="delete_button" href="#deleteModal" class="waves-effect waves-light btn red lighten-1  modal-trigger"><i class="material-icons left">delete</i>Delete</a>
            </span>
        </div>
    </div>
    </br>
    {% endif %}
    <div class="divider"></div>
    </br>
    
    <div id="deleteModal" class="modal">
        <div class="modal-content">
          <h4>Deletion</h4>
          <h5>Are you sure you would like to delete this recipe ?</h5>
        </div>
        <div class="modal-footer">
            <div class="row">
                <span class="col s5">
                    <a id="delete_yes" href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="modal-close waves-effect waves-light btn red lighten-1">Yes</a>
                </span>
                <span class= "col s2" >
                    <a id="delete_no" href="" class="modal-close waves-effect waves-light btn red lighten-1 ">No</a>
                </span>
             </div>
        </div>
    </div>
    
    
    <div id="updateModal" class="modal">
        <div class="modal-content">
          <h4>Update</h4>
          <h5>Are you sure you would like to update this recipe ?</h5>
        </div>
        <div class="modal-footer">
            <div class="row">
                <span class="col s5">
                    <a id="update_yes" href="" class="modal-close waves-effect waves-light btn red lighten-1">Yes</a>
                </span>
                <span class= "col s2" >
                    <a id="update_no" href="" class="modal-close waves-effect waves-light btn red lighten-1 ">No</a>
                </span>
             </div>
        </div>
      </div>        
        
    
    
                  
{% endblock %}